h1 {
  color: #08274e;
  padding-top: 10px;
  margin-left: 20px;
}

h2 {
  font-size: 24px;
}
body {
  font-family: "Josefin Sans", sans-serif;
  padding: 20px;
  margin: 10px;
  background: lightcyan;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer {
  text-align: center;
  font-size: 12px;
  padding-top: 15px;
  margin: auto;
}
small:first-letter {
  text-transform: capitalize;
}

.container {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(137, 210, 253) 0%,
    rgb(255, 241, 188) 90%
  );
  max-width: 600px;
  border: 3px solid #5e93b1;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.indicators {
  border: 2px solid #5e93b1;
  border-radius: 10px;
  padding-top: 10px;
  margin: 20px;
}
.weather-temperature .active {
  cursor: default;
  color: rgb(33, 33, 33);
}
.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-day {
  font-size: 16px;
  border: 2px solid #5e93b1;
  margin-left: 5px;
  border-radius: 10px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
.row.g-3 {
  margin-left: 20px;
}
.temperature-max {
  font-size: 14px;
}

.temperature-min {
  font-size: 14px;
  opacity: 0.5;
}

#temperature {
  text-align: center;
  font-size: 30px;
}

#icon {
  width: 80px;
}
